__pycache__
.DS_Store
# test.py 
# test.ipynb
# \test*
\data*
**egg-info*
Leviathan/api_key.py
Leviathan/Finance_gpt_agent_002.py
Leviathan/decision_mechanism.py.py
Leviathan/decision_mechanism copy.py
Leviathan/local_notes.md
*.wav
*.png
